global:
    postgresql:
        auth:
            postgresPassword: postgres
            username: postgres
            password: postgres
            database: postgres


primary:
    service:
        type: NodePort
        nodePorts:
            postgresql: 30100
